node_modules
pot20_0000.ptau
pot20_0001.ptau
pot20_final.ptau
package-lock.json
package.json
pot20_*.ptau
*.zkey
*.r1cs
*.sym
Example/*.zkey
Example/*.r1cs
Example/*.sym
Example/rsa_final.zkey
Example/rsa_0000.zkey
Example/combined_test_final.zkey
Example/combined_test_0000.zkey
Example/combined_test.r1cs
Example/combined_test.sym
Example/rsa_verify_pkcs1v15.r1cs
Example/rsa_verify_pkcs1v15.sym
